

<form method="post" action="AddItem" enctype="multipart/form-data">
    
    First name: <input type="text" name="FirstName"><br>
    Last name: <input type="text" name="LastName"><br>
    Phone Number: <input type="text" name="PhoneNumber"><br>
    Title: <input type="text" name="Title"><br>
    Description: <input type="text" name="Description"><br>
    <input type="file" id="File1" name="Image[0]" />
    <input type="file" id="File2" name="Image[1]" />
    <input type="file" id="File3" name="Image[2]" />
    <input type="file" id="File4"  name="Image[3]" />
    <input type="file" id="File5" name="Image[4]" />
    <input class="btn btn-primary" type="submit" value="Submit">
</form>